<%- include('partials/head.ejs') %>
  <body class="bg-dark">
    <div class="f-display f-main-y f-center 100vh">
      <h1 class="c-white"><%= title %></h1>
      <div class="w-25">
        <img src="/images/favicof.png" alt="cof">
      </div>
      <h2 class="c-white">Generador desarrollado por Danicof </h2>
    </div>
  </body>
</html>