<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/coflex.css' />
    <style>
      .bg-dark{
        background-color: #1a1a1a;
      }
      .c-white{
        color: #fff;
      }
      .c-green{
        color: #90c73e;
      }
    </style>
  </head>