extends ./partials/head
block content
  .f-display.f-main-y.f-center.mh-100vh
    h1.c-white= title
    .w-25 
      img(src="/images/favicof.png" alt="cof")
    h2.c-white Generador desarrollado por Danicof.